@media (max-width: 55em) {
  .modal {
      position: fixed;
      z-index: 100; /* Sit on top */
      left: 10%;
      top: 10%;
      width: 80%;
      height: 85%; 
      overflow: auto;
      background-color: white;
  }
}
@media (min-width: 55em) {
  .modal {
      display:none;
  }
}